# raíz (monorepo)
node_modules/
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.vercel/

# backend
/backend/node_modules/
/backend/dist/
/backend/build/
/backend/.vercel/
